$darkGreyL	: #e3f3fa;
$darkGrey 	: #aac7dd;
$lightGreyL	: #d5dfe8;
$lightGrey  : #bbcbdb;
$darkBlueL	: #878da0;
$darkBlue	: #5c6275;
$blueL   	: #42beff;
$blue 	    : #0babfe;
$aquaL		: #18cfff;
$aqua	    : #0caefe;
$greenL  	: #c3eee4;
$green    	: #4bceaf;
$redL    	: #ffcad4;
$red      	: #f1637e;
$yellowL 	: #ffe4b6;
$yellow	   	: #ffad1e;

$color_primary: rgb(52, 197, 255);
$color_secondary: rgb(246, 249, 250);
$color_ternary: rgb(107, 160, 254);
$color_hover: #FFFFFF; // Not Set
$color_text: rgb(112, 112, 112);
