@import 'colors';
@import 'fonts';
@import 'extends';

.page_transaction{
	background-color: $color_secondary;
	min-height: 82.5vh;
	@extend %page_padding;

	.transaction_history_container{ 
		background-color: $white; 
		padding: 1.25% 2.5%;

		.container_title{
			font-size: $size_custom_6;
			color: $color_primary;
			font-weight: bold;
		}

		.container_content{
			padding: 1.75% 5%;
			.content_header, .content_entry{ 
				display: grid; 
				grid-template-columns: 7fr 9fr 11fr 6fr 9fr; 
				grid-column-gap: 2.5%;
				padding-bottom: 1.25%;
			}
			
			.content_header{ font-weight: bold; } 
			.content_entry{
				padding: 1.25% 0;

				.entry_status .button{ 
					display: inline-block;
					width: 50%;
					padding: 1.5% 5%;
					font-weight: bold;
				}
				.entry_invoice a{ color: $color_primary; }
				.entry_invoice a:hover{ text-decoration: underline; }
			}
		}
	}

}

.page_payment_confirmation{
	background-color: $color_secondary;
	min-height: 100vh;
	padding: 0 5%;

	.page_title{ 
		color: $black;
		font-size: $size_custom_7;
		font-weight: bold;
		padding: 2.5% 0 1.25% 0;
	}

	.page_content{
		display: grid;
		//grid-template-columns: 11fr 28fr 18fr;
		grid-template-columns: 1fr 1fr;
		grid-row-gap: 10px;
		grid-template-areas: "payment_detail payment_summary"
							 "delivery_location delivery_location"
							 "button_wrapper button_wrapper";

		div .grid_title{ font-size: $size_custom_5; color: $color_primary; padding: 1.25% 0; }

		.payment_detail{ grid-area: payment_detail; }
		.payment_summary{ grid-area: payment_summary; }
		.delivery_location{ grid-area: delivery_location; }
		.button_wrapper{ grid-area: button_wrapper; }

		.payment_detail .grid_content{
			display: grid;
			grid-template-columns: 2fr 5fr;
			.item_list{ 
				display: inline-block; 
				width: 90%; 
				.item .thumbnail{ height: 150px; }
			}
			.form_wrapper .form_content{
				display: inline-block;
				background-color: $white;
				height: 100%;
				width: 60%;
				box-shadow: 3px 3px 10px 0px rgba(136,136,136,1);
				border-radius: 2.5px;
				padding: 0 2.5%;

				.input_container:first-child{ padding-top: 5%; }
				.input_container{
					padding-bottom: 5%;

					input[type="number"]{ 
						width: 15%;
						padding: 1.25%;
						margin-left: 5%;
						border-radius: 2.5px;
						border: 1px solid $color_primary;
					}
				}
			}
		}
		.payment_summary .grid_content{
			display: inline-block;
			float: right;
			width: 60%; height: 100%;
			background-color: $white;
			border-radius: 2.5px;
			box-shadow: 3px 3px 10px 0px rgba(136,136,136,1);
			padding: 0 5%;

			.grid_content_title, .grid_content_subtitle{ padding: 5% 0 2.5% 0; font-weight: bold; }
			.grid_content_title{ font-size: $size_custom_6; }
			.grid_content_subtitle{ font-size: $size_custom_5; }
			.payment_summary_list{
				.list_entry{ display: grid; grid-template-columns: 50% 50%; padding: 1.25% 0; }
			}
			.total_price{ font-size: $size_custom_6; }
		}
		.delivery_location .grid_content{
			display: grid;
			grid-template-columns: 75% 25%;
			background-color: $white;
			border-radius: 2.5px;
			box-shadow: 3px 3px 10px 0px rgba(136,136,136,1);
			padding: 1.5% 5%;

			.content_left{
				.grid_content_key{ font-size: $size_custom_4; font-weight: bold; }
				.grid_content_value{ font-size: $size_custom_4; margin-top: 1.25%; line-height: 150%; }
			}
			.content_right{
				position: relative;
				.button{ 
					padding: 2.5% 10.5%; 
					font-size: $size_custom_3;
					color: $color_text;
					font-weight: bold;

					position: absolute;
					top: 50%; right: 10%;
					transform: translateY(-50%);
				}
			}
		}

		.button_wrapper{
			padding-top: 1%;
			.button_2{ padding: 1% 4.5%; }
			.button_red_invert{ padding: 0.8% 2.5%; margin-left: 1.25%; }
		}
	}
}