@font-face {
  font-family: Oxygen;
  src: url("../font/Oxygen-Light.ttf");
}
@font-face {
  font-family: Oxygen;
  src: url("../font/Oxygen-Regular.ttf");
  font-weight: 200;
}
.item_list .item_container .item .thumbnail {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin: 0;
  font-family: Oxygen;
  color: #707070;
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 14fr;
  background-color: #f6f9fa;
  color: #707070;
  font-size: calc(5px + 0.75vw);
  width: 100%;
}
.navbar .nav_icon {
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 1px solid black;
}
.navbar .nav_content {
  position: relative;
}
.navbar .nav_content .nav_content_wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 2fr;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.navbar .nav_content .nav_content_wrapper .nav_link {
  position: relative;
  padding-left: 2.5%;
}
.navbar .nav_content .nav_content_wrapper .nav_link .nav_link_wrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.navbar .nav_content .nav_content_wrapper .nav_link .nav_link_wrapper a {
  margin-right: 5%;
}
.navbar .nav_content .nav_content_wrapper .nav_acc {
  text-align: right;
}
.navbar .nav_content .nav_content_wrapper .nav_acc .button {
  padding: 1.25% 10%;
  margin-left: 5%;
}

footer {
  width: 100%;
  padding: 0.33% 0;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #f6f9fa;
  color: #707070;
}

.button {
  display: inline-block;
  border: none;
  border-radius: 2.5px;
  cursor: pointer;
  text-align: center;
  background-color: #34c5ff;
  color: #707070;
  font-size: calc(5px + 0.75vw);
  padding: 0.75% 1.25%;
}

.button_1 {
  background-color: #f6f9fa;
  color: #34c5ff;
  border: 1px solid #34c5ff;
  box-shadow: 0 0 2.5px 1px #34c5ff;
}

.button_2 {
  background-image: linear-gradient(to right, #34c5ff, #6ba0fe);
  color: #f6f9fa;
  box-shadow: 0 0 2.5px 0 #6ba0fe;
}

.disableButton {
  opacity: 0.5;
  pointer-events: none;
}

.col2 {
  grid-template-columns: repeat(2, auto);
}

.col5 {
  grid-template-columns: repeat(5, auto);
}

.col2_eq {
  grid-template-columns: repeat(2, 1fr);
}

.col5_eq {
  grid-template-columns: repeat(5, 1fr);
}

.rowspan2 {
  grid-row: span 2;
}

.colspan2 {
  grid-column: span 2;
}

.colspan4 {
  grid-column: span 4;
}

.section:first-of-type {
  margin-top: 2.75%;
}

.section {
  margin-bottom: 3.5%;
  width: 100%;
}

.section_title {
  font-size: calc(7.5px + 1.75vw);
  color: #707070;
  padding: 1.25% 0;
}

.star_wrapper {
  display: inline-block;
}
.star_wrapper .fa-star {
  color: #707070;
  cursor: pointer;
}

.star_wrapper[value="1"] .fa-star:nth-child(1),
.star_wrapper[value="2"] .fa-star:nth-child(1),
.star_wrapper[value="3"] .fa-star:nth-child(1),
.star_wrapper[value="4"] .fa-star:nth-child(1),
.star_wrapper[value="5"] .fa-star:nth-child(1) {
  color: #34c5ff;
}

.star_wrapper[value="2"] .fa-star:nth-child(2),
.star_wrapper[value="3"] .fa-star:nth-child(2),
.star_wrapper[value="4"] .fa-star:nth-child(2),
.star_wrapper[value="5"] .fa-star:nth-child(2) {
  color: #34c5ff;
}

.star_wrapper[value="3"] .fa-star:nth-child(3),
.star_wrapper[value="4"] .fa-star:nth-child(3),
.star_wrapper[value="5"] .fa-star:nth-child(3) {
  color: #34c5ff;
}

.star_wrapper[value="4"] .fa-star:nth-child(4),
.star_wrapper[value="5"] .fa-star:nth-child(4) {
  color: #34c5ff;
}

.star_wrapper[value="5"] .fa-star:nth-child(5) {
  color: #34c5ff;
}

.item_list .list_title {
  font-size: calc(7.5px + 1.75vw);
  color: #34c5ff;
  padding: 1.25% 0;
}
.item_list .item_container {
  display: grid;
  grid-column-gap: 3.33%;
  padding: 0 2.5%;
  position: relative;
}
.item_list .item_container .item {
  box-shadow: 3px 3px 10px 0px #888888;
  border-radius: 3.33px;
}
.item_list .item_container .item .thumbnail {
  height: 200px;
  background-image: url("../img/pikachu.jpg");
}
.item_list .item_container .item .label {
  padding: 5%;
}
.item_list .item_container .item .label .item_label {
  font-size: calc(5px + 0.75vw);
  font-weight: bold;
  padding: 1.25% 0;
}
.item_list .item_container .item .label .volume_label {
  font-size: calc(5px + 0.375vw);
  padding: 1.25% 0;
}
.item_list .item_container .next, .item_list .item_container .prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  color: #34c5ff;
  border: 1px solid #34c5ff;
  border-radius: 5px;
  box-shadow: 0 0 2.5px 1px #34c5ff;
  cursor: pointer;
}
.item_list .item_container .prev {
  left: -2%;
}
.item_list .item_container .next {
  right: -2%;
}

.centerize {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link_color {
  color: #34c5ff;
}

/*# sourceMappingURL=style.css.map */
